.YamaSearchList-body {
    margin-top: 0.3rem;
}

.YamaSearchListItem-body {
    border: 1px #ddd solid;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.3rem;
}

.YamaSearchListItem-main {
    flex: 7;
    word-break: break-all;
    border-right: 1px #ddd solid;
    /* align vertical */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.YamaSearchListItem-title {
    padding: 0 0.5rem;
    text-align: center;
}

.YamaSearchList-searchBox {
    text-align: center;
}

.YamaSearchList-searchBoxInput {
    /* iOS zoom disabling size*/
    font-size: 24px;
}
